body{
    height: 120vh;
    background-image: url("black.jpg");

}
h1{
    font-size: 35px;
    font-style: bold;
    margin-left: 160px;
    animation: pulsate 1.5s infinite alternate; 
    
    padding: 20px ;
    
    box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #bc13fe,
            0 0 0.8rem #bc13fe,
            0 0 2rem #bc13fe,
            inset 0 0 1rem #bc13fe; 
}
 

.container{
    width: 100%;
    background:greenyellow;
    border-radius: 10px;
    min-width: 450px;
    position: relative;
    margin: auto;
    border:solid;
    border-width: 5px;
    border-color: aqua;
   
}
    .container:hover
    {
        box-shadow: 0 0 60px 0 #239456;
       
        
}

#newtask{
    position: relative;
    padding: 30px ;
    background-color: #6583e5;
    border-radius: 20px;
    border:solid;
    border-color: #111111;
    margin-top: 20px;
}
#newtask input{
    width: 75%;
    height: 45px;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    border: 2px solid black;
}

#newtask input:hover
    {
        box-shadow:  60px #cccccc;
        transition: 0.4s;
        transform: scale(1.02);
}
#push{
    background-color: rgb(255, 205, 205);
    border: solid;
    
    color: black;
    padding: 5px 0;
    width: 50px;
    background-position: 30%;
    letter-spacing: 1px;
    border-radius: 5px;
}
#push:hover
    {
        box-shadow: 60px 0 purple;
    }
    #push:hover
    {
        box-shadow:  60px  #cccccc;
        transition: 0.4s;
        transform: scale(1);
    }
#tasks{
    border-color: #111111;
    border:solid;
    width: 40%;
    position: relative;
    background-color: grey;
    padding: 30px ;
    margin-top: 5pxpx;
    border-radius: 20px;
}

.task{
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
    background-color: #c5e1e6;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
}
.task span{

    font-size: 5px;
    font-weight: 400;
}
.task button{
    background-color:peru;
    color: black;
    border: none;
    cursor: pointer;
    outline: none;
    height: 60%;
    width: 40px;
    border-radius: 5px;
}
 


















































 





















 















































































































































    

